
.navbar {
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    z-index: 1000;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 20px;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    display: inline-block;
    margin-right: 20px;
}

.navbar-item a {
    text-decoration: none;
    color: #bec4c4;
    font-weight: bold;
}

.navbar-item a:hover {
    color: white;
}